body {
  background: linear-gradient(
    180deg,
    rgba(5, 11, 20, 0.28) 0%,
    rgba(1, 13, 32, 0.69) 67.53%,
    #0a0b1a 85.33%
  );
}
.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 862px;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
